*{
    box-sizing: border-box;
}
/*style + farge*/
header{
    background-image: url(bildebank/bildebank/webstacks-WbOR54pzvLM-unsplash.jpg);
    background-size: auto;
}

nav{
    overflow: auto;
    padding: 2rem;
    
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main{

}

aside{

}

footer{
    background-color: rgb(80, 80, 80);
    color: rgb(243, 243, 243);
    padding: 2rem 2rem;
}

/* Størrelse*/

img{
    width: 100%;
}


/* Grid Area*/

#front-page-container{
    display: grid;
    grid-template-areas:"header header header"
                        ". main  ."
                        "footer footer footer";
    grid-template-columns:  1fr 4fr 1fr ;
}

header{
    grid-area: header;

}

nav{
    grid-area: header;
    

}

main{
    grid-area: main;

}

aside{
    grid-area: aside;

}

footer{
    grid-area: footer;


}

/* flex box */

nav{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#main-menu{
    display: flex;

}

#main-menu li{
    list-style: none;
    padding-right: 2rem;

}

article{
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    padding: 1rem;
}

footer{
    display: flex;
    justify-content: space-between;
}

#more-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}