@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
    box-sizing: border-box;
}

header {
    background-image: url(bildebank/bildebank/webstacks-WbOR54pzvLM-unsplash.jpg);
    background-size: auto;
    grid-area: header;
}

nav {
    overflow: auto;
    padding: 2rem;
    font-weight: bold;
    color: black;
    grid-area: header;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu li a,
.nav-menu li a:active .nav-menu li a:visited {
    text-decoration: none;
    color: black;

}

.nav-menu li a:hover,
#logo:hover {
    color: blueviolet;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#front-page-container {
    display: grid;
    grid-template-areas:"header header header"
                        ". main aside"
                        "footer footer footer";
    grid-template-columns: 1fr minmax(0, 4fr) 1fr;
    background-image: url(bildebank/bildebank/webstacks-WbOR54pzvLM-unsplash.jpg);
    background-size: auto;
}

main {
    margin-top: 10px;
    background-color: rgb(243, 243, 234);
    grid-area: main;
}

#main-menu {
    display: flex;
}

#main-menu li {
    list-style: none;
    padding-right: 2rem;

}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    text-decoration: none;
    color: black;
}

article {
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    padding: 1rem;
}

.artikler {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#kontakt {
    background-color: grey;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    margin: 1rem 0 1rem 1rem;
    display: inline-block;
}

aside {
    grid-area: aside;
    background-color: rgb(243, 243, 234);
    padding: 1rem;
    margin: 1rem;


}

.intro {
    padding: 2rem;
}

footer {
    background-color: rgb(80, 80, 80);
    color: rgb(243, 243, 243);
    padding: 1rem 1rem;
    margin: 2rem 0 0 0;
    grid-area: footer;
    display: flex;
    justify-content: space-between
}

.fb-share-button{
    display: flex;
    justify-content: center;
    padding-top: 1px;

}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#more-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

h3{
    text-align: center;
}

.responsive-image{
    object-fit: cover;
}

.responsive-image-contain{
    object-fit: contain;
}

.container{
    display: flex;
}

p{
    line-height: 150%;
}

/*Kontakt oss side (fuglte denne videoen for å opprette kontakt oss side: https://www.youtube.com/watch?v=orBQesFBkXg&ab_channel=EasyTutorials)*/
.innhold{
    width: 80%;
    margin: 50px auto;
}

.skjema{
    background: #fff;
    display: flex;
}
@media only screen and (max-width: 750px) {
    .skjema {
    flex-direction: column;
  }
}

.kontakte{
    flex-basis: 60%;
    padding: 40px 60px;
}

.om-oss{
    flex-basis: 40%;
    padding: 40px ;
    background:rgb(189, 186, 186)
}

.innhold h1{
    margin-bottom: 10px;
}
.innhold p{
    margin-bottom: 40px;
}

.input-rad{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;

}

.input-rad .input-gruppe{
    flex-basis: 45%;  
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}

label{
    margin-bottom: 6px;
    display: block;
}

button{
    width: 25%;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 1px 1px 0px 2px rgba(146, 144, 144, 0.8);
}

.kontakte h3{
    font-weight: 600;
    margin-bottom: 30px;
}

.om.oss h3{
    font-weight: 600;
    margin-bottom: 30px;
}

dl dt{
    display: flex;
    padding-top: 10px;
}

dl dd{
    display: flex;
    padding-top: 5px;
}

.fa-solid fa-phone{
    display: flex;
}

/* fuglte linken: https://blog.duda.co/responsive-google-maps-for-your-website, for å gjøre kartet responsivt*/
.kart{
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}
.kart iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
/*Slutt på kontakt oss side*/

/*Til CMS og UU vs SEO sin innholdside*/

#overskrift{
    text-align: center;
    padding: 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, auto));
    padding: 10px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1em;
    font-size: 1em;
    text-align: center;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
}

.grid-item1{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 1em;
    align-items: center;
    justify-items: center;
}

  @media only screen and (max-width: 750px) {
    .grid-container {
    background-color: grey;
  }
}



/*slutt på CMS*/

