@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
    box-sizing: border-box;
}

header {
    background-image: url(bildebank/bildebank/webstacks-WbOR54pzvLM-unsplash.jpg);
    background-size: auto;
    grid-area: header;
}

nav {
    overflow: auto;
    padding: 2rem;
    font-weight: bold;
    color: black;
    grid-area: header;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu li a, 
.nav-menu li a:active 
.nav-menu li a:visited {
    text-decoration: none;
    color: black;
    
}

.nav-menu li a:hover,#logo:hover{
    color: blueviolet;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

#front-page-container {
    display: grid;
    grid-template-areas: "header header header"
        ". main  ."
        "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    background-image: url(bildebank/bildebank/webstacks-WbOR54pzvLM-unsplash.jpg);
    background-size: auto;
}

main {
    margin-top: 10px;
    background-color: white;
    grid-area: main;
}

#main-menu {
    display: flex;
}

#main-menu li {
    list-style: none;
    padding-right: 2rem;

}

#logo{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    text-decoration: none;
    color: black;
}

article {
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    padding: 1rem;
}

.artikler{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#kontakt{
    background-color: grey;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    margin: 1rem 0 1rem 1rem;
    display: inline-block;
}

.intro{
    padding: 2rem;
}

footer {
    background-color: rgb(80, 80, 80);
    color: rgb(243, 243, 243);
    padding: 1rem 1rem;
    margin: 2rem 0 0 0;
    grid-area: footer;
    display: flex;
    justify-content: space-between
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#more-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}